@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

body {
    font-family: "Figtree", sans-serif;
    margin: 0;
}
.pagewrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: row;

}
.mainwrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: auto;
}

header {
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    place-items: center;
    flex: 1 1 300px;
}
header p {
    font-size: 1.2rem;
    font-weight: 100;
}

.maincontent {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: flex-start;
    flex-wrap: wrap;
    font-size: 3rem;
    font-weight: 900;
    gap: 2rem;
    padding: 40px;
}
.maincontent p {
    font-weight: 400;
}
.maincontent > article {
    max-width: 260px;
    min-height: 260px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: stretch;
    padding: 16px;
    gap: 16px;
}
.social-icon {
    max-width: 10%;
    height: auto;
}
.price {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.placeholder-card {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}
.navbox {
    display: flex;
    flex-direction: column;
    flex: 0 0 300px;
    min-width: 300px;
    max-width: 450px;
    gap: 0.5rem;
}
.navbox > :nth-last-child(2) {
    margin-top: auto;
}
.navbox img {
    max-width: 15%;
}
.navbox p {
    display: flex;
    font-size: 1.1rem;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: 1rem;
    padding-bottom: 0.5rem;
}
.navbox a {
    font-size: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    gap: 1rem;
}
.footer {
    background-color: #383838;
    font-size: 0.8rem;
    font-weight: 100;
    color: white;
    text-align: center;
    padding: 10px;
}